[submodule ".registry"]
	path = .registry
	url = https://github.com/cgiachalis/cgiachalis.r-universe.dev
	branch = HEAD
[submodule "R6.tiledb"]
	path = R6.tiledb
	url = https://github.com/cgiachalis/R6.tiledb
[submodule "cransays"]
	path = cransays
	url = https://github.com/cgiachalis/storr.tiledb
